@font-face {
    font-family: PPHatton;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/PPHatton/PPHatton-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: PPHatton;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/PPHatton/PPHatton-Light.otf") format("opentype");
}

@font-face {
    font-family: PPHatton;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/PPHatton/PPHatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: PPHatton;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/PPHatton/PPHatton-Bold.otf") format("opentype");
}

:root {
    --c-black: rgb(0, 0, 0);
    --c-white: rgb(255, 255, 255);
    --c-off-white: #C4C4C4;
    --c-off-white-2: #E5E5E6;
    --c-gray: #474747;
    --c-gray-3: #828282;

    /* schedule css */
    --eventbox-height: 500px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, #__next {
    box-sizing: border-box;
    background-color: var(--c-black);
    color: var(--c-white);
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.5;
}

@font-face {
    font-family: "PPHatton-Light";
    src: local("PPHatton-Light"),
      url("../fonts/PPHatton-Light.woff") format("woff");
    font-weight: normal;
  }

@media screen and (max-width: 812px) {
    html {
        font-size: 50%;
    }
}
