:root {
    --c-black: rgb(0, 0, 0);
    --c-white: rgb(255, 255, 255);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, #__next {
    box-sizing: border-box;
    background-color: var(--c-black);
    color: var(--c-white);
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 812px) {
    html {
        font-size: 50%;
    }
}
