.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}

.click {
    position: static;
    height: 100%;
    width: 100%;
}

.content {
    z-index: 1;
    position: absolute;
    bottom: 4rem;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.heading {
    font-family: PPHatton;
    font-weight: 300;
    font-size: 9.2vw;
    line-height: 124px;
    opacity: 100%;
    width: 100%;
    animation: glow 1s ease-in-out infinite alternate;
}

.verticalHeadline {
    display: none;
}

.time {
    font-weight: 300;
    font-size: 30px;
    opacity: 70%;
}

.image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 812px) {
    .heading {
        display: none;
    }

    .verticalHeadline {
        position: fixed;
        top: 12rem;
        left: 12rem;
        display: block;
        font-family: PPHatton;
        font-weight: 300;
        font-size: 12rem;
        width: 100%;
        transform: rotate(90deg);
        transform-origin: top left;
        animation: glow 1s ease-in-out infinite alternate;
    }

    .content {
        bottom: 14rem;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .image {
        width: auto;
    }
}

@media screen and (max-width: 375px) {
    .verticalHeadline {
        left: 12rem;
        font-size: 10rem;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
}
