.centerAlignment {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* temporary header css */
.header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: PPHatton, serif;
  font-size: var(--space-8x);
}

@media (min-width: 768px) {
  .header {
    font-size: var(--space-12x);
  }
}
