.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    padding: 2rem 6.7rem;
    border-bottom: 0.1rem solid var(--c-white);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4rem);
    z-index: 1;
    transition: min-height 0.3s;
}

.logo {
    height: 3rem;
}

.links {
    text-transform: uppercase;
}

.link {
    font-size: 1.5rem;
}

.link:not(:last-child) {
    margin-right: 1.5rem;
}

.links .button {
    display: none;
}

.button {
    padding: 0.8rem 2rem;
    border: 0.1rem solid var(--c-white);
    border-radius: 6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 812px) {
    .container {
        width: 100%;
        padding: 3rem;
    }

    .fixedContainer {
        position: fixed;
        top: 0;
    }

    .links {
        display: none;
    }

    .button {
        display: none;
    }

    .links .button {
        display: block;
        padding: 1.5rem 3rem;
    }
}
