.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--c-white);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4rem);
    z-index: 1;
    transition: min-height 0.3s;
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    height: 3rem;
    width: 20rem;
}

.links {
    text-transform: uppercase;
}

.link {
    font-size: 1.5rem;
    opacity: 0.5;
}

.link:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

.link:not(:last-child) {
    margin-right: 1.5rem;
}

.links .button {
    display: none;
}

.button {
    width: 20rem;
    padding: 0.8rem 2rem;
    border: 0.1rem solid var(--c-white);
    border-radius: 6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 812px) {
    .container {
        width: 100%;
        padding: 3rem;
    }

    .fixedContainer {
        position: fixed;
        top: 0;
    }

    .logo {
        width: auto;
    }

    .links {
        display: none;
    }

    .button {
        display: none;
        width: auto;
    }

    .links .button {
        display: block;
        padding: 1.5rem 3rem;
    }
}
