.container {
    margin: 8.2rem 6.7rem;
}

.sidebarContainer {
    margin: 3rem;
}

.header {
    margin-bottom: 2.4rem;
    font-family: PPHatton;
    font-size: 4.8rem;
    text-transform: uppercase;
    color: var(--c-off-white-2);
    opacity: 90%;
}

@media screen and (max-width: 812px) {
    .container {
        margin: 3rem;
    }
}
