.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 91vh;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    grid-column: span 9;
    height: 100%;
}

.rightPanel {
    grid-column: span 3;
    border: 0.1rem solid var(--c-white);
    border-top: none;
    overflow-y: auto;
}

.rightHeading {
    margin-left: 3rem;
    margin-top: 4rem;
}

.bottomPanel {
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.graphics {
    width: 70%;
}

.heading {
    margin-top: 2rem;
    font-family: PPHatton;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--c-off-white);
}

.inline {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}

.stream {
    height: 100%;
}

@media screen and (max-width: 812px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .inline {
        display: none;
    }

    .stream {
        min-height: 40vh;
    }

    .leftPanel {
        height: auto;
    }

    .rightPanel {
        min-height: auto;
        border-top: 0.1rem solid var(--c-white);
    }

    .bottomPanel {
        margin: 1rem;
    }

    .graphics {
        width: 100%;
    }
}
